@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient( 315deg, #030316 0%, #2A2A3B 100%); 
  /* background-image: url(/bg/bg3.png), url(/bg/bg4.png);
  background-repeat : no-repeat, no-repeat;
  background-position: 70.06rem 20.75rem, 31.94rem 45.88rem;
  background-size: 35rem 28.32rem, 88.09rem 21.64rem; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
