.page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.box_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background: url(/bg/bg7.png)
    100% no-repeat;
  background-size: 100% 100%;
}

.block_3 {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 338px;
  margin: 50px 0 0 0;
}

.section_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  width: 600px;
  height: 338px;
  border: 1px solid rgba(50, 53, 60, 1);
}

.image_1 {
  width: 74px;
  height: 68px;
}

.text_4 {
  width: 458px;
  height: 45px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 45px;
  margin: 26px 0 0 0;
}

.text_5 {
  width: 192px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(147, 154, 178, 1);
  font-size: 16px;
  font-family: PingFangSC-Regular;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
  margin: 12px 0 0 0;
}

.text_wrapper_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(77, 77, 255, 1);
  border-radius: 8px;
  height: 48px;
  width: 130px;
  margin: 29px 0 40px 0;
}

.text_6 {
  width: 98px;
  height: 22px;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  line-height: 22px;
}

.image_wrapper_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1077px;
  height: 305px;
  margin: 93px 0 0px 449px;
}

.image_2 {
  width: 184px;
  height: 193px;
}

.image_3 {
  width: 154px;
  height: 154px;
  margin-top: 151px;
}
