.page {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.group_2 {
    width: 601px;
    height: 550px;
    background: url(/bg/bg6.png) 100% no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image_1 {
    width: 72px;
    height: 72px;
}

.section {
    display: flex;
    flex-direction: column;

    position: relative;
    align-items: center;
    height: 400px;
    width: 400px;
    padding-top: 30px;
    text-align: center;
    position: relative;
    z-index: 1;
    padding-left: 40px;
}
/* .section::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
    transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;

  box-shadow: inset 0px 0px 32px 0px rgba(0, 0, 0, 0.5);
  background-color: rgba(25, 25, 43, 1);
  border-radius: 50%;
  z-index: -1;
} */

.text_setting {
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    font-family: PingFangSC-Semibold;
    font-weight: 600;
    text-align: center;
    padding: 10px 0;
}

.text_tip {
    font-family: PingFangSC, PingFang SC;
    font-weight: 400;
    font-size: 16px;
    color: #939ab2;
    line-height: 22px;
    margin: 30px 0;
}

.button_box {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 320px;
}
.button_box_1 {
    width: 128px;
    height: 48px;
    background: #4d4dff;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
}

.text_5 {
    width: 280px;
    height: 48px;
    color: rgba(147, 154, 178, 1);
    font-size: 16px;
    font-family: PingFangSC-Regular;
    text-align: left;
    white-space: nowrap;
    line-height: 1.5;
}

.text_wrapper_1 {
    display: flex;
    flex-direction: column;
    background-color: rgba(77, 77, 255, 1);
    border-radius: 8px;
    height: 48px;
    width: 128px;
}

.text_wrapper_2 {
    display: flex;
    flex-direction: column;
    background-color: rgba(77, 77, 255, 1);
    border-radius: 8px;
    height: 48px;
    width: 128px;
    cursor: pointer;
}
